dav_user:
    resource: "@DavUserBundle/Resources/config/routing.yml"
    prefix:   /

dav_coopt:
    resource: "@DavCooptBundle/Controller/"
    type:     annotation
    prefix:   /

cooptations:
    type:     rest
    resource: Dav\CooptBundle\Controller\CooptController

login:
    path: /login
    defaults:
        _controller: DavUserBundle:Security:login

login_check:
    path: /login_check

logout:
    path: /logout